[v-cloak] {
    display: none;
}

.generator {
	max-width: 500px;
	margin: auto;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.displej {
	margin-top: 10%;
	font-size: 500%;
	text-align: center;
}
#cesty_d {
	height: 50%;
	width: 50%;
}
