[v-cloak] {
    display: none;
}

html, body, #genace {
	background-color: #eceff1;
}

.generator {
	max-width: 500px;
	margin: auto;
	height: 100%;
}

.md-card {
	padding-left: 20px;
	padding-right: 20px;
}
#cisla_d {
	margin-top: 10%;
	font-size: 500%;
	text-align: center;
}